// Modal
#addSubTopic.modal.fade(role='dialog')
	.modal-dialog
		.modal-content
			.modal-header
				h4.modal-title Add SubTopic
			.modal-body
				.form-group.row.form-group-lg
					.col-lg-1
						img.loader#l2(src='/icons/loader.gif' style='width: 50px;')
					.col-lg-9
						input.form-control.form-control-lg#newSubTopic(type='text', placeholder='New SubTopic')
					.col-lg-1
						img#addNewSubTopicBTN.addFileIcon(src='/icons/add.svg')
				ul#subTopicsList.list-group
			.modal-footer
	script.