// Modal
#postMoreInfo.modal.fade(role='dialog')
	.modal-dialog
		.modal-content
			.modal-header
				h4.modal-title
			.modal-body
				.row
					.col-lg-1
					.col-lg-11
						h5.topicModal
						h5.sub_topicModal
				blockquote.blockquote
					.postTextBlock.text
				.row
					.col-lg-2
					.col-lg-10
						.row.filesModal
			.modal-footer
				a.btn.btn-default.inNewTab(target='_blank') Открыть в повой вкладке
				button.btn.btn-default(data-dismiss='modal') Закрыть
	script.