extends layout

block title
	title= menu.title

block scripts
	script(src='/js/about.js', type='text/javascript')

block content
	include header
	.content
		.aboutHeaders
			each h in docContent.headers
				p= h
		img.aboutAvatar(src="files/uzdemir.jpeg")
		blockquote.blockquote.aboutTags
			each p in docContent.tags
				p= p
