extends layout

block title
	title= menu.title

block scripts
	script var topics = !{JSON.stringify(topics)}
	script var posts = !{JSON.stringify(posts)}
	script(src='/js/admin.js', type='text/javascript')
	script(src='/js/managePosts.js', type='text/javascript')

block content
	.comtent
		.row
			.col-lg-1
				img.loader#l1(src='/icons/loader.gif')
			.col-lg-10
				h1.adminTitle Админ панель
				.navigationAdmin
					button.btn.btn-default.navAdminBtn#addPostBTN Добавить пост
					button.btn.btn-default.navAdminBtn#addTopicBTN Управление категориями
					button.btn.btn-default.navAdminBtn#managePostsBTN Управление постами
				.contentBorderLine
				.adminFunctions
					.adminFunction(id='addPost')
						.form-group.form-group-lg
							select.form-control.subjectField#topic
								option(value="null") TOPIC
							select.form-control.subjectField#subtopic
								option(value="null") SubTOPIC
							input.form-control.subject(type='text' placeholder='Subject')
							textarea.form-control(placeholder='DESCRIPTION')#postText
							.row
								.form-group
									.col-lg-10
										.row
											.col-lg-2
											.col-lg-2.inFiles
									.col-lg-1
										img.addFileIcon#addNewFileBTN(src='/icons/add.svg')
									.col-lg-1
										img.addFileIcon#saveNewPost(src='/icons/save.png')
							input(type='file' style='display:none;' id='newFileBin' multiple)
					.adminFunction(id='addTopic')
						.form-group.row.form-group-lg
							.col-lg-10
								input.form-control.form-control-lg#newTopic(type='text' placeholder='New topic')
							.col-lg-1
								img.addFileIcon#addNewTopicBTN(src='/icons/add.svg')
						.row
							ul#topicsList.list-group
					.adminFunction(id='managePosts')
						table#postData.table.table-striped
							thead
								tr
									th
									th ID
									th Topic
									th SubTopic
									th Subject
									th Text
									th Date Create
									th Date Update
									th 
							tbody
						nav.text-center(aria-label='Page navigation')
							ul.pagination
								li
									button.btn.btn-default#prevPage
										span(aria-hidden='true') « Prev
								li
									button.btn.btn-default#nextPage
										span(aria-hidden='true') Next »
			.col-lg-1
		include modals/addSubtopic			
