extends layout

block title
	title= menu.title

block scripts
	script(src='/js/blog.js', type='text/javascript')

block content
	include header
	.content
		.row
			.col-lg-2
			.col-lg-8
				.row
					.col-lg-5
					.col-lg-2
						img.loader(src='/icons/loader.gif')
					.col-lg-5
				.posts
			.col-lg-2
	include modals/postMoreInfo