nav.navbar.navbar-inverse.navbar-fixed-top
		div.container-fluid
			div.navbar-header
				a.navbar-brand=menu.title
			ul.nav.navbar-nav
				each menuItem in menu.items
					if menuItem.code == activeCode
						li.active
							a(id=menuItem.code, href=menuItem.src)= menuItem.name
					else
						li
							a(id=menuItem.code, href=menuItem.src)= menuItem.name