extends layout

block title
	title= menu.title

block scripts
	script(src='/js/index.js', type='text/javascript')

block content
	include header
	.content
		.contentMaintext= menu.slogan
		blockquote.mainInfo.blockquote(style="display:none;")
			each p in docContent.mainText
				p= p