<!DOCTYPE HTML>
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name="apple-mobile-web-app-capable" content="yes")
		meta(content='IE=edge,chrome=1', http-equiv='X-UA-Compatible')
		block title
		link(rel='stylesheet', href='/jquery-ui/jquery-ui.css')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
		link(rel='stylesheet', href='/css/index.css')
		block styles
		script(src='/jquery-ui/external/jquery/jquery.js', type='text/javascript')
		script(src='/jquery-ui/jquery-ui.js', type='text/javascript')
		script(src='/bootstrap/js/bootstrap.min.js')
		script(src='/js/contentMaintext.animation.js', type='text/javascript')
		block scripts
body
	block content