extends layout

block title
	title= menu.title

block scripts
	script(src='/js/login.js', type='text/javascript')

block content
	include header
	.content
		div.form-group.form-group-lg(style='position: relative; width: 400px; margin 0 auto;')
			input.form-control#login(type='text' placeholder='Login' name='login')
			input.form-control#password(type='password' placeholder='Password' name='password')
			button.btn.btn-default.form-control#logBTN LOGIN