extends layout

block title
	title= menu.title

block scripts
	script(src='/js/post.js', type='text/javascript')

block content
	include header
	.content
		.row
			.col-lg-2
			.col-lg-8
				h1= post.subject
				.row
					.col-lg-1
					.col-lg-11
						h5= post.topic
						h5= post.sub_topic		
				blockquote.blockquote
					.postTextBlock= post.text
				.row
					.col-lg-2
					.col-lg-10
						each file in post.files
							- url = ''+file.storage+'/'+file.filename
							.row
								img.postFileIcon(src='/icons/file.png')
								a(href=url target='_blank')= file.original_name	
			.col-lg-2