extends layout

block title
	title= menu.title

block scripts
	script var topics = !{JSON.stringify(topics)}
	script(src='/js/topics.js', type='text/javascript')

block content
	include header
	.topicContent
		.row
			.col-lg-3
				ul.list-group.topics(onselectstart='return false' onmousedown='return false')
				button.btn.btn-default.form-control.activeteFilter FILTER
			.col-lg-9
				.row
					.col-lg-5
					.col-lg-2
						img.loader(src='/icons/loader.gif')
					.col-lg-5
				.posts.row
	include modals/postMoreInfo			