body{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    left: 0;
	top: 0;
	font-family: Lucida, sans-serif
}

.content, .topicContent{
	position: relative;
    width: 80%;
	height: 80%;
	min-height: 400px;
	margin: 0 auto;
	margin-top: 5%;
	/* font-family: Helvetica, sans-serif */
}
.active{
	background-color: rgba(0, 0, 0, 0.3) !important;
	border-color: white !important;
}

.topicContent{
	width: 95%;
}

.contentMaintext{
	position: relative;
	width: 90%;
	font-size: 100px;
	overflow: hidden;
	font-family: Impact, fantasy
}

.mainInfo{
	font-size: 20px;
}

.aboutAvatar{
	position: relative;
	width: 300px;
	float: right;
}

.aboutTags {
	position: relative;
	width: 70%;
	float:left;
}

.aboutHeaders {
	position: relative;
	width: 70%;
	float:left;
	font-family: Impact, fantasy;
	font-size: 20px;
}

.adminTitle {
	text-align: center;
}

.navigationAdmin {
	position: relative;
	width: 100%;
	margin: 10px;
}

.navAdminBtn{
	position: relative;
	width: 200px;
}

.contentBorderLine {
	position: relative;
	border-bottom: 2px solid black;
	width: 90%;
	margin: 0 auto;
}

.adminFunctions {
	position: relative;
	margin: 0 auto;
	width: 90%;
	height: 400px;
}

.adminFunction {
	display: none;
	position: relative;
	width: 90%;
	height: 100%;
	margin: 0 auto;
	margin-top: 30px;
}

#postText {
	position: relative;
	margin-top: 30px;
	height: 300px;
}

.addFileIcon {
	width: 50px;
}

.leftColBorder {
	border-right: 2px solid black;
	max-height: 400px;
}

.topicColumn {
	height: 100%;
}

.topics {
	
}

.posts{
	max-height: 600px;
	min-height: 500px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.postDate{
	margin-left: 30px;
}

.postIcon{
	height: 30px;
}

.postTitle{
	font-size: 25px;
}

.searcher{
	margin-bottom: 10px;
	width: 0px;
	display: none;
}

.searchIcon, .morePostsIcon{
	height: 50px;
}

.loader{
	position: absolute;
	opacity: 0;
}

.postTextBlock{
	position: relative;
	width: 100%;
	word-wrap: break-word;
}

.postFileIcon {
	height: 20px;
}

.delete{
	position: relative;
	width: 20px;
	float: right;
}

.postIcon {
	width: 20px;
}